:root {
    --main-color: #eb3007;
    /* --main-color-text: rgb(216, 214, 214); */
    --mainwhite: rgb(240, 240, 240);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden !important;
    font-size: 14px;
    background-color: #212121;
    font-family: sans-serif;
}

/*nav style start*/
a[href="#"] {
    text-decoration: none;
}

ul {
    list-style: none;
}

.header {
    position: sticky;
    top: 0%;
    padding: 2px;
    z-index: 100000;
    background-color: #212121;
}

header {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    border-bottom: 0.5px solid var(--mainwhite);
}

.mainContainer {
    width: 100%;
    max-width: 117rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}

.menue-icons {
    color: var(--mainwhite);
    font-size: 2rem;
    position: absolute;
    top: 50%;
    right: 2rem;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 1000000;
    display: none;
}

navbar {
    width: 100%;
    height: 4rem;
    /*border-bottom: 1px solid rgba(255,255,255,0.1);*/
    display: flex;
    margin-top: 10px;
    align-items: center;
}

.navbar-list {
    display: flex;
    align-items: center;
    width: 100%;
}

.navbar-list li {
    line-height: 8rem;
    position: relative;
}

.sub-menue li {
    line-height: 3rem;
}

.navbar-list a {
    display: block;
    color: var(--mainwhite);
    padding: 0 1.5rem;
    font-size: 0.9rem;
    text-transform: uppercase;
    transition: 300ms;
}

.navbar-list a:hover {
    color: var(--main-color);
}

.navbar-list li a ion-icon {
    font-size: 20px;
    transform: translateY(4px);
}

li.move-right {
    margin: auto 0 auto auto;
    transform: translateY(-20px);
}

li.move-right a span {
    font-size: 12px;
    transform: translate(90%, 100%)
}

li.move-right a {
    font-size: 25px;
    color: var(--main-color);
}

.sub-menue {
    width: 15rem;
    display: block;
    position: absolute;
    border-top: 3px solid var(--main-color);
    background-color: #191919;
    z-index: 1000;
    top: 15rem;
    opacity: 0;
    visibility: hidden;
    /*display: none;*/
    transition: all 300ms ease;
}

.sub-menue::before {
    content: "";
    position: absolute;
    top: -1.8rem;
    left: 1rem;
    border: 0.9rem solid transparent;
    border-bottom-color: var(--main-color);
}

.sub-menue .sub-menue::before {
    top: 0.9rem;
    left: -1.8rem;
    border: 0.9rem solid transparent;
    border-right-color: var(--main-color);

}

.sub-menue .sub-menue {
    border-top: none;
    border-left: 3px solid var(--main-color);
    top: 0;
    left: 120%;
}

.navbar-list li:hover>.sub-menue {
    top: 6rem;
    /*display: block;*/
    opacity: 1;
    visibility: visible;
}

input[type='search'] {
    background-color: transparent;
}

.sub-menue li:hover>.sub-menue {
    top: 0;
    left: 100%;
}

@media screen and (max-width:955px) {
    .navbar-list {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        flex-direction: column;
        align-items: initial;
        display: none;
        background-color: #191919;
        z-index: 100000;
        overflow-y: scroll;
    }

    .navbar-list>li {
        line-height: 3rem;
    }

    .sub-menue {
        position: initial;
        border: 3px solid transparent;
        border-radius: 5px;
        border-left-color: var(--main-color);
        margin-left: 1rem;
        max-height: 0;
    }

    .sub-menue::before {
        display: none;
    }

    .navbar-list li:hover>.sub-menue {
        opacity: 1;
        visibility: visible;
        max-height: initial;
    }

    li.move-right {
        margin-left: 30px;
        transform: translate(-60px, 5px);
    }

    li.move-right a span {
        font-size: 12px;
        transform: translate(210%, -120%)
    }

    /* li.search {
        margin-left: -40px;
    } */

    .menue-icons .btn-close {
        display: none;
    }

    .menue-icons {
        display: block;
    }

    navbar.active .btn-close {
        display: block;
    }

    navbar.active .outline {
        display: none;
    }

    navbar.active .navbar-list {
        display: flex;
    }
}

/*nav style end*/

/*Gallery style start*/
.img-gallery {
    width: 300px;
    height: 300px;
}

.gallery-section {
    width: 100%;
    padding: 20px 0px;
    background: #f1f1f1;
}

.inner-section {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}

.gallery-subject {
    text-align: center;
    text-transform: capitalize;
    color: #333;
    background-color: var(--main-color);
    padding: 0.7rem 3rem;
    /*1-x 2-y*/
    clip-path: polygon(10% 0, 100% 0, 90% 100%, 0 100%);
    color: var(--mainwhite);
    margin: 20px auto;
    width: 290px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallery-section .gallery {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
}

.gallery-section .img {
    flex: 25%;
    overflow: hidden;
    cursor: pointer;
}

.gallery-section .img img {
    width: 100%;
    height: 100%;
    transition: 0.4s;
}

.gallery-section .img:hover .img-gallery {
    transform: scale(1.4) rotate(10deg);
}

@media screen and (max-width:960px) {
    .gallery-section .img {
        flex: 33.33%;
    }
}

@media screen and (max-width:768px) {
    .gallery-section .img {
        flex: 50%;
    }
}

@media screen and (max-width:480px) {
    .gallery-section .img {
        flex: 100%;
    }
}

/*Gallery style end*/




/* scrollbar style start  */
::-webkit-scrollbar {
    width: 0;
}

#progressbar {
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    height: 100%;
    border-radius: 10px;
    background: linear-gradient(to top, #d53131, var(--main-color));
    animation: animate 5s linear infinite;
    z-index: 1000000;
}

@keyframes animate {
    0% {
        filter: hue-rotate(0deg);
    }

    100% {
        filter: hue-rotate(360deg);
    }
}

/* scrollbar style end  */

/*scroll to top style start*/
#ScrollToTop {
    position: fixed;
    right: 15px;
    bottom: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border: 1px solid var(--main-color);
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    background-color: black;
    z-index: 1000000;
}

#ScrollToTopIcon {
    font-size: 25px;
    color: var(--main-color);
}

/* scroll to top style end */


/* styles for cards start */
.card-product {
    border: none;
    outline: none;
    background-color: var(--mainwhite);
    border-radius: 20px;
    transition: transform 0.3s;
    box-shadow: 0px 1px 7px 1px #5a5a5a;
    height: auto;
}

.card-product .card-img {
    height: 250px;
    width: auto;
}

.card-product img {
    width: 100%;
    height: 100%;
}

.text1 {
    font-size: 13px;
    color: #696969;
    line-height: 20px;
}

.text1:hover {
    cursor: pointer;
}

.nowrap {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.stars {
    color: #fbc02d;
    cursor: pointer;
    transition: 300ms;
}

.star:hover {
    color: #000000;
}

.cost {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.add-to-cart {
    background-color: #fb3531;
    transition: 300ms;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.add-to-cart:hover {
    background-color: #66c600;
    cursor: pointer;
}

ion-icon[name="bag-add"] {
    font-size: 20px;
    top: 4px;
    position: relative;
}

.price {
    background-color: var(--main-color);
    width: 90px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    clip-path: polygon(15% 0, 85% 0, 100% 100%, 0 100%);
    transition: all 1s linear;
}

.price span {
    color: #333;
    font-size: 20px;
}

.price:hover {
    clip-path: polygon(0% 0, 100% 0, 100% 100%, 0 100%);
    cursor: pointer;
}

.product-name:hover {
    cursor: pointer;
}

.btn-more {
    padding: 15px;
    border-radius: 10px;
    border: none;
    background-color: #fb3531;
}

.btn-more:hover {
    border: 1px solid #fb3531;
    background-color: transparent;
    padding: 14px;
}

/* styles for cards end */

/* card Gallery style start */
.Gallery-section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Card-container {
    position: relative;
    width: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
}

.Card-container .card-Gallery {
    max-width: 300px;
    height: 250px;
    position: relative;
    background: var(--mainwhite);
    margin: 30px 10px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
    transition: 0.3s ease-in-out;
}

.Card-container .card-Gallery.active {
    height: 550px;
}

.Card-container .card-Gallery .img-box {
    position: relative;
    width: 260px;
    height: 260px;
    padding: 10px;
    top: -60px;
    left: 5px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0, 5);
    z-index: 1;
}

.Card-container .card-Gallery .img-box img {
    max-width: 100%;
    border-radius: 4px;
}

.Card-container .card-Gallery .content {
    position: relative;
    margin-top: -140px;
    top: -20px;
    padding: 10px 20px;
    text-align: center;
    opacity: 0;
    font-size: 15px;
    visibility: hidden;
    transition: 0.3s ease-in-out;
}

.Card-container .card-Gallery.active .content {
    opacity: 1;
    visibility: visible;
    margin-top: -50px;
}

.more {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: #6d6d6d;
    text-transform: capitalize;
    transition: 300ms;
}

.more:hover {
    color: var(--main-color);
    cursor: pointer;
}

.Card-container .card-Gallery.active .more {
    visibility: hidden;
    opacity: 0;
}

.less {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: #6d6d6d;
    text-transform: capitalize;
    padding: 5px 10px;
    transition: 300ms;
    position: relative;
    bottom: 10px;
}

.less:hover {
    color: var(--main-color);
    cursor: pointer;
}

/* card Gallery style end */


/* styles for Next and Prev btn card slider start */

.lSAction>a {
    opacity: 1;
}

/* styles for Next and Prev btn card slider end */

/* about us style start  */
.Easy-buy {
    background-color: var(--main-color);
    padding: 0.7rem 3rem;
    /*1-x 2-y*/
    clip-path: polygon(10% 0, 100% 0, 90% 100%, 0 100%);
    color: var(--mainwhite);
    margin: 1rem 2rem;
}

.inventory-icon {
    background: #000;
    font-size: 3rem;
    border: 1px solid var(--main-color);
}

.inventory-icon>ion-icon {
    color: var(--main-color);
    position: relative;
    top: 5px;
}

.inventory-icon :hover {
    color: #a82c13;
    cursor: pointer;
}

.underline {
    width: 4rem;
    height: 0.3rem;
    background: var(--main-color);
    margin: 1rem auto;
}

.inventory-section {
    background: transparent;
}

/* about us style end  */


/* email section style start */
.send-email {
    border: 1px solid var(--main-color);
    color: var(--mainwhite);
    transition: 300ms;
    background-color: #212121;
}

.send-email:focus,
.send-email.focus {
    box-shadow: none;
}

.send-email:hover {
    color: var(--mainwhite);
    background-color: var(--main-color);

}

.form-control {
    border: 1px solid var(--main-color);
}

.form-control:focus {
    box-shadow: none;
    border: 1px solid var(--main-color);
    background-color: #2c2c2c;
    color: var(--mainwhite);
}

.input-group-text {
    border: 1px solid var(--main-color);
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    background-color: #212121;
    color: var(--main-color);
    cursor: pointer;
}

.Customer-Email {
    background-color: #212121;
    border-top-right-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
}

.Customer-Email::placeholder {
    color: #886861;
}

/* email section style end */

/* footer style strat */
.footer-item {
    white-space: nowrap;
}

.footer-icon {
    cursor: pointer;
    font-size: 18px;
    background-color: var(--main-color);
    margin: 5px;
    border-radius: 50%;
    color: #2c2c2c;
    transition: 300ms;
}

.footer-icon:hover {
    color: #191919;
}

/* footer style end */

/* form style start */
.content {
    width: 70%;
    margin: 5px auto;
    padding: 20px 0;
}

.js-btn-next.disabled,
.js-btn-next:disabled {
    background-color: #696969;
    border: 1px solid #212121;
}

.js-btn-next.disabled:hover,
.js-btn-next:disabled:hover {
    background-color: #696969;
    border: 1px solid #212121;
}

.content__title {
    margin-bottom: 40px;
    font-size: 20px;
    text-align: center;
}

.content__title--m-sm {
    margin-bottom: 10px;
}

.multisteps-form__progress {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
    background-color: transparent;
    padding: 20px 30px;
    position: relative;
    top: 30px;
    border: 1px solid var(--main-color);
    /* border-bottom: none; */
}

.multisteps-form__progress-btn {
    transition-property: all;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    transition-delay: 0s;
    position: relative;
    padding-top: 20px;
    color: rgba(108, 117, 125, 0.7);
    text-indent: -9999px;
    border: none;
    background-color: transparent;
    outline: none !important;
    cursor: pointer;
}

@media (min-width: 500px) {
    .multisteps-form__progress-btn {
        text-indent: 0;
    }
}

.multisteps-form__progress-btn:before {
    position: absolute;
    top: 0;
    left: 50%;
    display: block;
    width: 13px;
    height: 13px;
    content: '';
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    transition: all 0.15s linear 0s, -webkit-transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s;
    transition: all 0.15s linear 0s, transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s;
    transition: all 0.15s linear 0s, transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s, -webkit-transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s;
    border: 2px solid rgba(108, 117, 125, 0.7);
    border-radius: 50%;
    background-color: var(--mainwhite);
    box-sizing: border-box;
    z-index: 3;
}

.multisteps-form__progress-btn:after {
    position: absolute;
    top: 5px;
    left: calc(-50% - 13px / 2);
    transition-property: all;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    transition-delay: 0s;
    display: block;
    width: 100%;
    height: 2px;
    content: '';
    background-color: currentColor;
    z-index: 1;
}

.multisteps-form__progress-btn:first-child:after {
    display: none;
}

.multisteps-form__progress-btn.js-active {
    color: var(--main-color);
}

.multisteps-form__progress-btn.js-active:before {
    -webkit-transform: translateX(-50%) scale(1.2);
    transform: translateX(-50%) scale(1.2);
    background-color: var(--main-color);
}

.multisteps-form__form {
    position: relative;
}

/* .shadow {
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.20);
  } */
.multisteps-form__panel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    opacity: 0;
    visibility: hidden;
    background-color: transparent !important;
    color: var(--mainwhite);
    border: 1px solid var(--main-color);
    border-top: none;
}

.multisteps-form__panel.js-active {
    height: auto;
    opacity: 1;
    visibility: visible;
}

.multisteps-form__panel[data-animation="slideHorz"] {
    left: 50px;
}

.multisteps-form__panel[data-animation="slideHorz"].js-active {
    transition-property: all;
    transition-duration: 0.25s;
    transition-timing-function: cubic-bezier(0.2, 1.13, 0.38, 1.43);
    transition-delay: 0s;
    left: 0;
}

.send {
    background-color: var(--main-color);
    color: #2c2c2c;
}

.send:hover {
    border: 1px solid #2c2c2c;

}

.send:active {
    box-shadow: none;
}

.send:focus {
    box-shadow: none;
}

.js-btn-next,
.js-btn-prev {
    background-color: #2c2c2c;
    border: 1px solid var(--main-color);
    color: var(--main-color);
    transition: 300ms;

}

.js-btn-next:hover {
    background-color: var(--main-color);
    color: #2c2c2c;
    border: none;
}

.js-btn-prev:hover {
    background-color: var(--main-color);
    color: #2c2c2c;
    border: none;
}

.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show>.btn-primary.dropdown-toggle:focus {
    box-shadow: none;
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
    color: #2c2c2c;
    background-color: var(--main-color);
}

textarea {
    width: 300px;
    max-height: 100px;
}

textarea:focus {
    box-shadow: none !important;
    border: 1px solid rgb(142, 142, 142) !important;
}

.multisteps-form__input {
    background-color: #212121 !important;
}

.multisteps-form__input:focus {
    box-shadow: none;
    border: 1px solid var(--main-color);
}

.multisteps-form__select:focus {
    box-shadow: none;
    border: 1px solid rgb(142, 142, 142);
}

option:hover {
    background: rgb(66, 75, 75);
}

.rules-card {
    background-color: transparent;
    border: 1px solid #fff;
    box-shadow: 0 0 .1rem #fff,
        0 0 .1rem #fff,
        0 0 1rem var(--main-color),
        0 0 0.08rem var(--main-color),
        0 0 1.8rem var(--main-color),
        inset 0 0 1.3rem var(--main-color);
    color: var(--mainwhite);
    border-radius: 0px;
}

.card-header {
    border-bottom: 1px solid var(--main-color);
}

.rules-icon {
    color: var(--main-color);
    font-size: 20px;
}

/* form style end */


/* swal mudal styles start */
.swal-overlay--show-modal .swal-modal {
    background-color: #212121;
    color: #f2f2f2;
}

.swal-icon--success__line--long {
    background-color: var(--main-color);
    top: 36px;
    right: 8px;
}

.swal-icon--success__line--tip {
    background-color: var(--main-color);
    left: 13px;
    top: 45px;
}

.swal-icon--success__ring {
    color: var(--main-color);
    border: 1px solid var(--main-color);
}

.swal-title,
.swal-text {
    color: var(--mainwhite);
}

.swal-button {
    background-color: var(--main-color);
    color: var(--mainwhite);
    outline: none;
}

.swal-button:not([disabled]):hover {
    background-color: #212121;
    border: 1px solid var(--main-color);
}

.swal-button:focus {
    box-shadow: none;
    border: 1px solid var(--main-color);
}

/* swal modal styles end */

/* our product style start */
.brand-item {
    border-radius: 5px;
    cursor: pointer;
    transition: 1000ms;
    opacity: 0.75;
    width: 300px;
    height: 50px;
    border: 1px solid var(--main-color);
}

.brand-item:hover {
    transform: scale(1.05);
    opacity: 1;
}

.product-item-icon {
    font-size: 22px;
    padding: 4px;
}

.product-item-text {
    padding: 4px;
}

.swiper {
    width: 240px;
    height: 320px;
}

.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
}

.swiper-wrapper .swiper-slide img {
    width: 100%;
    height: 100%;
}

/* our product style end */